.article-section{
    width: 90%;
    margin: auto;
    margin-top: 120px;
}
.article-title{width: 100%;}
.article-title h1{
    font-size: 50px;
    color: var(--black);
}
.info-article{margin:30px 0px;}
.info-article span{
    font-size: 23px;
    margin: 0px 10px;
}
.info-article span i{color: var(--blackHover);}
.info-article span a{color: var(--blackHover);}
.article-content{width: 70%;}
.article-thumbnail{margin-bottom: 80px;}
.article{width: 100%;}
.article p{
    font-size: 19px !important;
    line-height: 40px !important;
    color: var(--black) !important;
}
.article img{width: 100%;}
.article video{width: 100%;}
.article audio{width: 100%;}
.sidebar-principal-content{width: 30%;}


@media only screen and (max-width:991px) {
    .article-content{width: 90%; margin: auto;}
}
